<div class="col-md-10 col-md-offset-1">
	<h2><%= @item.title %></h2>
	<p><%= @item.description %></p>
</div>
<div class="col-md-2 col-md-offset-5">
	<%= link_to "Back", root_path %>
	<%= link_to "Edit", edit_item_path(@item) %>
	<%= link_to "delete", item_path(@item), method: :delete, data: { confirm: "are you sure?" } %>
</div>